---
layout: default
bibit_iscurrent: current-menu-item
permalink: /publications-talks.html
---

<div id="main" class="site-main">
  <div id="main-content" class="single-page-content">
    <div id="primary" class="content-area">
      <div id="content" class="page-content
			       site-content single-post" role="main">
        <div class="page-title">	  
	  <h2><i class="linecons linecons-megaphone"></i>&nbsp; Keynotes and Invited Talks </h2>
        </div>
	<div class="row">
	  <div class="col-xs-12 col-sm-12">
            <div class="timeline">
	      {% assign talk = site.data.talks %}
              {% for t in talk %}
              <div class="timeline-item">
                <h5 class="item-period">{{ t.year }}</h5>
                {% for e in t.entries %}
                <h4 class="item-title">{{ e.title }}</h4>
                <a href="{{ e.link }}" target="_blank"> {{ e.event }}</a>, {{ e.location }}
		{% endfor %}
	      </div>
              {% endfor %}
            </div>
          </div>
	</div>
      </div>
    </div>
  </div>
</div>
