<!-- Footer -->
<footer class="site-footer clearfix">
  <div class="footer-social">
    <ul class="footer-social-links">
      <li>
        <a href="{{site.data.main.social.linkedin.link}}" target="_blank"> 
          <i class="fab {{site.data.main.social.linkedin.icon}}"></i>
        </a>
      </li>
      <li>
	<a href="{{site.data.main.social.googlescholar.link}}" target="_blank">
          <i class="ai {{site.data.main.social.googlescholar.icon}}"></i>
        </a>
      </li>
      <li>
	<a href="{{site.data.main.social.dblp.link}}" target="_blank">
          <i class="ai {{site.data.main.social.dblp.icon}}"></i>
        </a>
      </li>
      <li>
	<a
	  href="{{site.data.main.social.orcid.link}}" target="_blank">
          <i class="ai {{site.data.main.social.orcid.icon}}"></i>
        </a>
      </li>
      <li>
	<a ="{{site.data.main.social.github.link}}" target="_blank">
          <i class="fab {{site.data.main.social.github.icon}}"></i>
        </a>
      </li>
      <li>
	<a href="{{site.data.main.social.twitter.link}}" target="_blank">
          <i class="fab {{site.data.main.social.twitter.icon}}"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-copyrights">
    <p>© 2024 Fred Suter.</p>
  </div>
</footer>
<!-- /Footer -->
